/*Mobile-Ansicht*/
@media only screen {
    :root {
        --ci-color: orange;
        --background-grey: #585858;
        --footer-height: 4em;
    }

    .d-none {
        display: none;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: rgb(15, 15, 15);
        margin: 0;
        padding: 0;
    }

    main {
        max-width: 80em;
        min-height: calc(100vh - var(--footer-height));
        margin-left: auto;
        margin-right: auto;
    }

    /*double class because of weight of selector*/
    .button.button {
        background-color: white;
        color: black;
        padding: 1em;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        outline: none;
        text-align: center;
        margin: 1em;
    }

    .button:hover {
        background-color: var(--ci-color);
        color: black;
    }

    a,
    a:visited {
        text-decoration: none;
        color: white;
    }

    /*:focus Pseudo-Klasse für Barrierefreiheit (Nutzung ohne Maus)*/
    a:hover,
    a:focus {
        color: var(--ci-color);
    }

    h1 {
        text-transform: uppercase;
    }

    h2 {
    }

    hr {
        height: 1px;
        border: none;
        background-color: white;
        width: 100%;
        grid-column: 1/3;
    }

    .article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        margin-left: 1em;
        margin-right: 1em;
        border-bottom: solid 1px white;
    }

    .main-img {
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        overflow: hidden;
        object-fit: cover;
    }

    nav {
        margin-right: 1em;
        margin-left: 1em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        padding: 0;
    }
    nav li {
        list-style: none;
        float: left;
    }
    nav span {
        position: absolute;
        top: 1.5em;
        right: 1em;
    }

    .extended-nav {
        position: fixed;
        right: 0;
        top: 0;
        padding-top: 5em;
        width: 62%;
        height: calc(100% - 5em);
        background: var(--background-grey);
    }

    .extended-nav .menu-link {
        width: 100%;
        float: left;
        text-align: center;
    }
    .extended-nav-text {
        width: 8em;
        margin: auto;
        padding: 1em;
        border-bottom: solid 1px white;
    }

    .extended-nav .menu-link:hover,
    .menu-link:focus {
        /*meh*/
        color: var(--ci-color);
    }

    form {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
    }

    form label,
    form input {
        margin-top: 1em;
    }

    form label {
        text-align: right;
        margin-right: 1em;
    }

    form textarea {
        margin-top: 1em;
        height: 10em;
    }

    .content-img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 1em;
    }

    .content-paragraph {
        width: 100%;
    }

    .jobs {
        width: 100%;
    }

    .job {
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }

    .job h3,
    .job p,
    .job a {
        font-size: 16px;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
    }

    .job a {
        text-align: right;
    }

    table {
        max-width: 100%;
        overflow: auto;
        display: flex;
    }

    iframe {
        max-width: 100%;
    }

    .close {
        position: fixed;
        right: 1em;
        top: 2em;
        width: 2em;
        height: 2em;
    }

    .close::before,
    .close::after {
        position: fixed;
        content: " ";
        height: 1.5em;
        width: 2px;
        background-color: white;
    }

    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }

    /*:focus Pseudo-Klasse für Barrierefreiheit (Nutzung ohne Maus)*/
    .close:hover::after,
    .close:hover::before,
    .close:focus::after,
    .close:focus::before {
        background-color: var(--ci-color);
    }

    footer {
        /*margin-top: -40px;*/
        bottom: calc(0 - var(--footer-height));
        height: var(--footer-height);
        width: 100%;
        background-color: var(--background-grey);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }

    .footerStart {
        margin-top: -40px;
    }
}

/*Desktop-Ansicht*/
@media only screen and (min-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    nav span {
        position: relative;
        margin-bottom: 3em;
    }
    nav ul {
        gap: 3em;
    }

    .extended-nav {
        width: 20em;
    }

    .article {
        flex-direction: row;
        gap: 2em;
        border-bottom: none;
    }

    .content-img {
        width: 38em;
        object-fit: cover;
    }

    .content-paragraph {
        width: 38em;
    }

    form {
        width: 100%;
        display: grid;
        grid-template-columns: 32% 68%;
    }

    form input {
        width: 40em;
    }

    form textarea {
        margin-top: 1em;
        height: 10em;
        width: 40em;
    }

    .footerStart {
        /*WTF?!*/
        margin-top: -4px;
    }
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
  }
